* {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  color: white;
  text-align: center;
  margin: auto;
}

body {
  margin: auto;
  background-color: #0c0c0c;
}

.one>span {
  display: inline-block;
  font-style: normal;
  font-weight: 750;
  font-size: 72px;
  line-height: 100%;
  margin: auto;
  text-align: center;
  width: 100%;
  word-spacing: 2px;
}

button {
  display: block;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.5px;
  border-radius: 8px;
  margin-top: 48px;
  padding: 18px 32px;
  cursor: pointer;
}

nav {
  display: flex;
  margin-top: 15px;
  height: 60px;
  width: 1200px;
  font-weight: 700;
}

.marquee {
  /* border: 1px solid black; */
  position: relative;
  width: 1185px;
  height: 145px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-w-m {
  height: 125px;
  width: 90px;
  object-fit: cover;
  background-color: #0c0c0c;
  /* margin-top: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  /* border: .01px solid white; */
}

img {
  height: 80%;
  width: 80%;
}

.track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  animation-iteration-count: infinite;
  animation-play-state: running;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.threeicon {
  display: flex;
  justify-content: space-around;
  margin-left: 140px;
  margin-right: 140px;

}

.bigtext {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 25px;
}

.smalltext {
  display: inline-block;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.25px;
  opacity: 0.7;
  text-align: center;
  margin-top: 8px;
}

.line {
  margin-left: 140px;
  margin-right: 140px;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
}

.box {
  margin-left: 140px;
  margin-right: 140px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 90px 146px 20px;
  position: relative;
  background-color: rgb(225, 189, 103);
  display: flex;
  flex-direction: column;
  position: relative;
}

.firstline {
  display: inline-block;
  color: black;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  height: 3em;
}

.vr {
  color: black;
  font-size: large;
}

.ceo {
  color: black;
  opacity: 0.5;
  font-weight: bolder;
}

.bgbox {
  background-color: white;
  width: 1260px;
  height: 345px;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  margin-left: 130px;
}

.tell {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-block: 0px;
  margin-left: -770px;
}

.form {
  margin-left: 160px;
  background-color: #ffffff;
  height: 700px;
  width: 800px;
  border-radius: 10px;
}

label {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.z {
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #000;
  height: 45px;
  width: 190px;
  margin-left: -234px;
  font-size: 17px;
  text-align: left;
  padding-left: 25px;
  line-height: 160%;
  letter-spacing: 0.25px;
}

input {
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #000;
  height: 45px;
  width: 190px;
  font-size: 17px;
  text-align: left;
  padding-left: 25px;
  line-height: 160%;
  letter-spacing: 0.25px;
  margin-top: 7px;
  font-weight: 700;
}

.first {
  margin-left: -340px;
}

.last {
  margin-left: 130px;
}

.lbox {
  margin-left: 13px;
}

.fmain {
  display: flex;
  flex-direction: column;
}

.a {
  margin-left: 57px;
}

.b {
  margin-left: 57px;
  width: 425px;
}

.line2 {
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 140px;
  height: 2px;
  background: black;
}
.submit{
  color:black;
  border: 2px solid black;
  width: 125px;
  margin-left: 57px;
}
.imageForm{
  display: flex;
}
.image{
  margin-left: -113px;
}

/* *****************footer***************** */
footer {
  background-color: #141414;
  height: 690px;
  width: 100%;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container {
  height: 690px;
  width: 1185px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}
.footer-p1 {
  height: 450px;
  width: 1185px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-p2 {
  height: 240px;
  width: 1185px;
  /* border: 1px solid white; */
  text-align: left;
}
.nl-image-ftr {
  margin-bottom: 55px;
  margin-top: 55px;
  height: 35px;
  width: 120px;
  /* border: 1px solid white; */
  object-fit: cover;
  margin-left: 0px;

}
.nl-image-ft {
  height: 100%;
  width: 100%;
}
.footer-items-container {
  height: 305px;
  width: 1185px;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: space-between;
}
.footer-items {
  height: 305px;
  width: 320px;
  /* border: 1px solid grey; */
}
.fti-small {
  width: 215px;
}
.heading-ft-items {
  width: 670px;
  color: white;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: -275px;
/* border: 1px solid red; */
}
.list-container-footer {
  height: 145px;
  width: 320px;
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-items-footer {
  display: flex;
  justify-content: start;
  align-content: start;
  height: 25px;
  width: 320px;
  /* border: 1px solid grey; */
  color: rgb(165, 165, 165);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  margin-left: -10px;

}
.lstc-2 {
  height: 265px;
}
.lstc-3 {
  height: 265px;
  width: 215px;
}
.lstci-small {
  width: 215px;
}
.list-items-footer:hover {
  text-decoration: underline;
  cursor: pointer;
}
.lstc-4 {
  display: flex;
}
.footer-sml-c {
  height: 15px;
  width: 15px;
  /* border: 1px solid white; */
  /* margin-right: 10px; */
  object-fit: cover;
  margin-left: 0px;
  text-align: left;
}
.footer-smlogo {
  height: 100%;
  width: 100%;
}
.footer-pt2-p {
  margin-top: 50px;
  margin-bottom: 0;
  line-height: 20px;
  font-weight: 600;
  color: rgb(165, 165, 165);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
}
.copyright-note-footer {
  margin-top: 10px;
  font-weight: 600;
  color: rgb(165, 165, 165);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  text-align: left;

}
.Courses{
  margin-left: -311px;
}
.company{
  margin-left: -311px;
}
.follow{
  margin-left: -308px;
}
.names{
  margin-left: -140px;
}
.names2{
  margin-left: -120px;
}
.names3{
  margin-left: -120px;
}
.names4{
  margin-left: -110px;
}

/* ==================== MEDIA QUERIES FOR MOBILE ==================== */

/* Tablet and below (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
    padding: 0 20px;
  }

  .marquee {
    width: 100%;
    max-width: 100%;
  }

  .threeicon {
    margin-left: 20px;
    margin-right: 20px;
  }

  .line {
    margin-left: 20px;
    margin-right: 20px;
  }

  .box {
    margin-left: 20px;
    margin-right: 20px;
    padding: 60px 40px 20px;
  }

  .bgbox {
    width: calc(100% - 40px);
    margin-left: 20px;
  }

  .tell {
    margin-left: 20px;
  }

  .form {
    margin-left: 20px;
    width: calc(100% - 40px);
    max-width: 600px;
  }

  .footer-container {
    width: 100%;
    padding: 0 20px;
  }

  .footer-p1,
  .footer-p2 {
    width: 100%;
  }

  .footer-items-container {
    width: 100%;
    flex-wrap: wrap;
  }
}

/* Mobile devices (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* Body adjustments */
  body {
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
  }

  section {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  /* Navigation */
  nav {
    width: 100%;
    padding: 0 15px;
    flex-wrap: wrap;
    height: auto;
    min-height: 60px;
  }

  nav > div:first-child {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  nav > div:nth-child(2) {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-top: 15px;
  }

  nav > div:nth-child(2) > div {
    padding-left: 0 !important;
    margin-left: 0 !important;
    text-align: left;
    width: 100%;
    padding: 12px 0; /* Better touch target */
    cursor: pointer;
  }

  nav > div:last-child {
    margin-right: 0 !important;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    padding: 12px 0; /* Better touch target */
    cursor: pointer;
  }

  /* Hero Section */
  .one > span {
    font-size: 36px;
    padding: 0 20px;
  }

  button {
    font-size: 14px;
    padding: 14px 24px;
    margin-top: 30px;
    min-height: 44px; /* Better touch target */
  }

  /* Marquee */
  .marquee {
    width: 100%;
    height: 100px;
  }

  .item-w-m {
    height: 80px;
    width: 70px;
    min-width: 70px;
  }

  /* Why Hire Section */
  div > span:first-of-type {
    font-size: 28px !important;
    padding: 0 20px;
  }

  div > span:last-of-type {
    font-size: 14px !important;
    padding: 0 20px;
  }

  .threeicon {
    flex-direction: column;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }

  .threeicon > div {
    width: 100%;
    max-width: 300px;
  }

  .bigtext {
    font-size: 18px;
  }

  .smalltext {
    font-size: 15px;
  }

  /* Line */
  .line {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Testimonial Box */
  .bgbox {
    width: calc(100% - 40px);
    margin-left: 20px;
    height: auto;
    min-height: 200px;
  }

  .box {
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 20px 20px;
  }

  .firstline {
    font-size: 18px;
    line-height: 24px;
    height: auto;
  }

  /* Tell Us Section */
  .tell {
    font-size: 28px;
    margin-left: 20px;
    text-align: left;
  }

  /* Form Section */
  .imageForm {
    flex-direction: column;
    padding: 0 20px;
  }

  .form {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
  }

  .fmain {
    padding: 0 20px;
  }

  .first {
    margin-left: 0;
    display: block;
    margin-bottom: 10px;
  }

  .last {
    margin-left: 0;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .z {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .lbox {
    width: 100%;
    margin-left: 0;
  }

  .a {
    margin-left: 0;
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  .b {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .line2 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .submit {
    width: 100%;
    margin-left: 0;
    padding: 14px;
    min-height: 44px; /* Better touch target */
    cursor: pointer;
  }

  .image {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  /* Footer */
  footer {
    height: auto;
    padding: 40px 20px;
  }

  .footer-container {
    width: 100%;
    height: auto;
  }

  .footer-p1 {
    height: auto;
    width: 100%;
  }

  .footer-p2 {
    height: auto;
    width: 100%;
    margin-top: 30px;
  }

  .nl-image-ftr {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .footer-items-container {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 30px;
  }

  .footer-items {
    width: 100%;
    height: auto;
  }

  .fti-small {
    width: 100%;
  }

  .heading-ft-items {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .list-container-footer {
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .list-items-footer {
    width: 100%;
    margin-left: 0;
    height: auto;
    padding: 5px 0;
  }

  .lstc-2,
  .lstc-3 {
    height: auto;
  }

  .lstci-small {
    width: 100%;
  }

  .lstc-4 {
    flex-direction: column;
    gap: 10px;
  }

  .names,
  .names2,
  .names3,
  .names4 {
    margin-left: 10px;
  }

  .footer-pt2-p {
    margin-top: 30px;
    font-size: 12px;
    line-height: 18px;
  }

  .copyright-note-footer {
    margin-top: 15px;
    font-size: 12px;
  }
}

/* Small mobile devices (max-width: 480px) */
@media screen and (max-width: 480px) {
  /* Navigation */
  nav {
    padding: 0 10px;
  }

  /* Hero Section */
  .one > span {
    font-size: 28px;
    padding: 0 15px;
  }

  button {
    font-size: 13px;
    padding: 12px 20px;
  }

  /* Marquee */
  .marquee {
    height: 80px;
  }

  .item-w-m {
    height: 60px;
    width: 55px;
    min-width: 55px;
  }

  /* Why Hire Section */
  div > span:first-of-type {
    font-size: 24px !important;
  }

  div > span:last-of-type {
    font-size: 13px !important;
  }

  .bigtext {
    font-size: 16px;
  }

  .smalltext {
    font-size: 14px;
  }

  /* Testimonial */
  .box {
    padding: 30px 15px 15px;
  }

  .firstline {
    font-size: 16px;
    line-height: 22px;
  }

  /* Tell Us */
  .tell {
    font-size: 24px;
    margin-left: 15px;
  }

  /* Form */
  .imageForm {
    padding: 0 15px;
  }

  .form {
    padding-bottom: 30px;
  }

  .fmain {
    padding: 0 15px;
  }

  label {
    font-size: 16px;
  }

  input,
  .z,
  .lbox,
  .b {
    font-size: 15px;
    height: 40px;
  }

  /* Footer */
  footer {
    padding: 30px 15px;
  }

  .footer-items-container {
    gap: 25px;
  }

  .heading-ft-items {
    font-size: 14px;
  }

  .list-items-footer {
    font-size: 13px;
  }

  .footer-pt2-p,
  .copyright-note-footer {
    font-size: 11px;
  }
}